
.modal-dialog {
  &.splashContainer {
    width: 90%;
  }

  &.tourStepsContainer {
    font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
    width: inherit;
    overflow: hidden;

    .modal-content {
      background: inherit;
      border: inherit;

      .modal-body {
        padding: 0;
        background: inherit;
        color: white;

        div {
          div {
            display: inline;
            vertical-align: top;

            div {
              display: inline-block;
              vertical-align: top;

              div {
                border: 0 !important;
                background: transparent;
                width: auto;
                height: initial !important;
                padding: 0 !important;
                border-radius: 0 !important;
                top: initial !important;
                right: initial !important;
                position: relative !important;

                div {
                  border: initial;

                  &.flex-fill:last-child {
                    text-align: right;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.fifthStep {
      margin-left: 26px;
      margin-top: 11px;
      min-width: 820px;

      .modal-content {
        width: 439px;

        .modal-body {
          div {
            width: 825px;

            div {
              div {
                width: auto;

                &:first-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 450px;
                  //height: 222px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                }

                div {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }

    &.sixthStep {
      margin-left: 26px;
      margin-top: 11px;
      min-width: 820px;

      .modal-content {
        .modal-body {
          div {
            width: 825px;

            div {
              div {

                &:first-child {
                  width: 492px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 321px;
                  height: 245px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                }
              }
            }
          }
        }
      }
    }

    &.seventhStep {
      margin-left: 24px;
      margin-top: 35px;

      .modal-content {
        .modal-body {
          div {
            width: 700px;

            div {
              div {
                &:first-child {
                  width: 319px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 300px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                }
              }
            }
          }
        }
      }
    }

    &.eighthStep {
      margin-left: 25px;
      margin-top: 37px;

      .modal-content {
        .modal-body {
          div {
            width: 700px;

            div {
              div {
                &:first-child {
                  width: 167px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 300px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;

                }
              }
            }
          }
        }
      }
    }

    &.ninthStep {
      margin-left: 47px;
      margin-top: 272px;

      .modal-content {
        .modal-body {
          div {
            width: 700px;

            div {
              div {
                &:first-child {
                  width: 304px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 300px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                }
              }
            }
          }
        }
      }
    }

    &.tenthStep {
      margin-left: 47px;
      margin-top: 204px;

      .modal-content {
        .modal-body {
          div {
            width: 750px;

            div {
              div {
                &:first-child {
                  width: 353px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 350px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                }
              }
            }
          }
        }
      }
    }

    &.eleventhStep {
      margin-left: auto;
      margin-right: 10px;
      margin-top: 98px;

      .modal-content {
        .modal-body {
          div {
            width: 300px;

            div {
              div {
                position: absolute;

                &:first-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 353px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                  top: 0;
                  right: 20px;
                }

                &:last-child {
                  top: 261px;
                  right: -146px;
                  width: 304px;
                }
              }
            }
          }
        }
      }
    }

    &.twelfthStep {
      margin-left: 29px;
      margin-top: 77px;
      width: inherit;

      .modal-content {
        .modal-body {
          div {
            width: 1508px;

            div {
              div {
                &:first-child {
                  width: 1822px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 353px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                  margin-top: -666px;
                  margin-left: 263px;
                }
              }
            }
          }
        }
      }
    }

    &.thirteenthStep {
      margin-left: 21px;
      margin-top: 33px;

      .modal-content {
        .modal-body {
          div {
            width: 700px;

            div {
              div {
                &:first-child {
                  width: 319px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 300px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                }
              }
            }
          }
        }
      }
    }

    &.fourteenthStep {
      margin-left: auto;
      margin-right: 10px;
      margin-top: 98px;

      .modal-content {
        .modal-body {
          div {
            width: 300px;

            div {
              div {
                position: absolute;

                &:first-child {
                  background: #5b616b;
                  padding: 10px;
                  width: 353px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                  top: 182px;
                  right: 20px;
                }

                &:last-child {
                  top: 392px;
                  right: -143px;
                  width: 253px;
                }
              }
            }
          }
        }
      }
    }

    &.fifteenthStep {
      margin-left: auto;
      margin-right: 24px;
      margin-top: -17px;

      .modal-content {
        .modal-body {
          div {
            width: 700px;

            div {
              div {
                position: absolute;

                &:first-child {
                  top: 19px;
                  right: -537px;
                }

                &:last-child {
                  background: #5b616b;
                  padding: 10px;
                  border: 2px solid white;
                  border-radius: 0 3px 3px 3px;
                  top: 61px;
                  right: -1px;
                  width: 304px;
                }
              }
            }
          }
        }
      }
    }
  }

  &.welcomePanel {
    min-width: 825px;
    font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
  }

  @media (max-width: 742px) {
    &.ninthStep {
      margin-top: 315px !important;
    }
    &.tenthStep {
      margin-top: 248px !important;
    }
    &.eleventhStep {
      margin-top: 137px !important;
    }
  }

  @media (min-width: 742px) and (max-width: 1321px) {
    &.ninthStep {
      margin-top: 298px !important;
    }
    &.tenthStep {
      margin-top: 223px !important;
    }
    &.eleventhStep {
      margin-top: 120px !important;
    }
  }

  @media (max-width: 671px) {
    &.fourteenthStep {
      &.fourteenthStep {
        margin-top: 133px;
      }
    }

  }

  @media (min-width: 671px) and (max-width: 981px) {
    &.fourteenthStep {
      margin-top: 116px !important;
    }
  }
}
