<section id="main-content" class="main-content clearfix" role="main">
  <div class="region-preface clearfix">
    <div id="block-pane-epa-web-area-connect" class="block block-pane contextual-links-region">
      <ul class="menu utility-menu">
        <li class="menu-item"><a href="{{CONTACT_US}}"
                                 class="btn btn-primary btn-sm">Provide Feedback</a></li>
      </ul>
    </div>
  </div>
  <div class="main-column clearfix container-fluid">
    <div id="homeContent">
      <span class="header">
        <img alt="nescs logo" src="/assets/images/NESCS_Plus_Logo.png" width="100"> NESCS Plus Webtool
      </span>
      <div class="row">
        <div class="col-md-10 ml-4">
          <div> NESCS Plus is a classification system for final ecosystem services. Additional pithy text. NESCS Plus is
            a classification system for final ecosystems services.
          </div>
          <div>Learn about NESCS Plus</div>
          <div><a href="">Why is it important to have a classification system for ecosystem services?</a></div>
          <div><a href="">How is NESCS plus different from other systems?</a></div>
          <div><a href="">How can NESCS plus help me?</a></div>
        </div>
      </div>
    </div>
    <div class="panel-pane pane-node-content">
      <div class="pane-content">
        <div class="node node-page clearfix view-mode-full">
          <nav>
            <div class="nav nav-tabs" id="mainTabs" role="tablist">
              <a [ngClass]="{'nav-item':true,'nav-link':true,'active':currentNavigation=='advancedQuery'}"
                 routerLink="multipleQuery">Browse Core Options</a>
              <a [ngClass]="{'nav-item':true,'nav-link':true,'active':currentNavigation=='customQuery'}"
                 routerLink="singleQuery">Query All Options</a>
              <button class="bestSearchInfo" (click)="openModal()" role="link">Which search is best for me?</button>
            </div>
          </nav>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div id="block-epa-og-footer" class="block block-epa-og">
      <div class="version">NESCS Plus: 3.0</div>
      <div class="feedBack">
        <a href="{{CONTACT_US}}"
           class="btn btn-primary btn-sm">Provide
          Feedback</a>
      </div>
    </div>
  </div>
</section>


