<div id="reportViewer">
  <div id="dataTablesButtons"></div>
  <div id="disclaimer">NESCS Plus offers two options for searching. (1) These are the results from "Browse Core Options"
    which refines the >75,000 possible combinations to a shorter "core" set of ~1,000 most plausible combinations. (2)
    In contrast, the “Query All Options” enables users to consider every possibility and build a custom table a single
    row at a time. If you discover a row that is missing that should be included in the "core" set, please let us know
    by clicking <a href="{{CONTACT_US}}">"Contact Us."</a>
  </div>
  <table #dataTable></table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Hide/Show Data Columns</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-toggle-columns></app-toggle-columns>
  </div>
</ng-template>
