<ul class="level{{level}}" *ngFor="let item of data">
  <span *ngIf="item.visible">
  <li>
    <div class="li-block">
    <span (click)="sendChange(item)">
      <div [ngClass]="{checkedImage:true,checked:item.checked}"></div>
    {{display(item)}}
    </span>
    <i *ngIf="item.helpText" class="i-ui-icon link" (click)="openModal(item)"></i>
    </div>
    <div *ngIf="item.children">
      <app-list [data]="item.children" [serviceName]="serviceName" [level]="(level+1)" [disableChildren]="disableChildren"></app-list>
    </div>
  </li>
  </span>
</ul>

