<div class="modal-header">
  <div class="modal-title pull-left h4">Which search is best for me?</div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  The NESCS Plus Webtool offers two ways for users to identify and develop lists of Final Ecosystem Services (or FES
  components) that are of interest to them.

  <ol>
    <li><b>Browse Core Options</b> allows the user to browse, filter, and select from a dataset containing ~1,000
      pre-specified FES options. Each FES option is comprised of one element (class or subclass) from each
      classification component: Environment, EEP, Direct Use/Non-Use, Direct User, and Beneficiary components. The Core
      Options have been pre-selected by the NESCS Plus developers to represent the FES options that are likely to be
      most common or plausible (based on subjective judgment).</li>

    <li><b>Query All Options</b> allows the user to consider and select from all possible FES options (>75,000 options).
      To define each distinct FES of interest, the user must select one element (class or subclass) from each
      classification component.</li>
  </ol>
  <b>Which One is Better for Me?</b> Using the <b>Core Options</b> may be more appropriate for users who have less
  experience using NESCS Plus or are less certain about the exact FES options they want to select. It makes it easier to
  do exploratory or preliminary selections of FES, but it also relies on judgments made by the NESCS Plus developers
  regarding the FES options that are most common or plausible. Using <b>All Options</b> offers the user more flexibility
  but places more burden on the user to select the FES options that are most relevant for his or her needs.
</div>
