<div class="modal-header">
  <div class="modal-title pull-left h4">Which search is best for me?</div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  The NESCS Plus Webtool offers two ways to classify the human dimensions (i.e., the receiving end) of FES flows.
  <ol>
    <li>A combination of Direct Use and Direct User classes and subclasses</li>
    <li>Beneficiary classes and subclasses</li>
  </ol>
  <p>Both approaches are designed to support a comprehensive accounting of the different ways in which humans benefit
    from ecosystems. Regardless of the search selected, you will receive results for <b>Direct Use, Direct User,</b> and
    <b>Beneficiary</b> classes.</p>
  <p>Using the combination of <b>Direct Use</b> and <b>Direct User</b> components provides the flexibility to separately
    classify: (1) how an Ecological End-Product (EEP) is used; and (2) who uses the EEP. Following established
    classification structures adopted by the U.S. Census Bureau and United Nations, the first level includes broad
    sectors of the economy—Industry, Households, and Government. By using the <a
      href="https://www.census.gov/eos/www/naics/">North American Industrial Classification System (NAICS)</a> system to
    classify who (i.e., identify the <b>Direct User</b>), it also offers an easy link to other information systems that
    use NAICS categories or codes to classify economic or other data as NAICS is the standard used by U.S. federal
    statistical agencies in classifying business establishments.</p>
  <p>The <b>Beneficiary</b> approach is simpler because it only contains one component, and thus it may be more
    intuitive, especially for users that have less experience with NAICS. Unlike the Direct User and Direct Use/Non-Use
    concepts, the Beneficiary concept does not specifically separate the questions (1) who benefits from nature and (2)
    how do they benefit. Therefore, it can be thought of as a combination of the two concepts. In some cases, the
    beneficiary description also identifies connections to specific Ecological End-products. For example, the
    Agricultural Processors subcategory is defined as “This beneficiary primarily consumes water for washing edible
    products.”</p>
</div>
