<div class="modal-body">
  <div *ngIf="firstStepToggle" (click)="showSecondStep()">
    <img src="assets/images/NESCS_Plus_Logo.png"
         alt="NESCS Plus Logo" [style.maxHeight]="innerHeight + 'px'" [style.margin]="'0 auto'"
         style="margin:0 auto;display:block;">
  </div>
  <div *ngIf="secondStepToggle" (click)="showThirdStep()">
    <div class="row">
      <div class="col-md-8 offset-2 mt-2">
        <p>The National Ecosystem Services Classification System (NESCS) Plus is a system for classifying Final
          Ecosystem
          Services (FES). FES are specifically defined as the services from nature that are “directly [emphasis added]
          enjoyed, consumed, or used to yield human well-being” (Boyd and Banzhaf, 2007).</p>
      </div>
    </div>
    <img src="assets/images/tutorial/Figure1.png" alt="Figure1.png" [style.maxHeight]="(innerHeight*.75) + 'px'"
         style="margin:0 auto;display:block;">
  </div>
  <div *ngIf="thirdStepToggle" (click)="showFourthStep()">
    <img src="assets/images/tutorial/Figure2.png" alt="Figure2.png" [style.maxHeight]="innerHeight + 'px'"
         style="margin:0 auto;display:block;">
  </div>
  <div *ngIf="fourthStepToggle">
    <div class="row modalHeader">
      <div class="col-md-6" [ngClass]="{'active':panel==='welcome'}" (click)="panel='welcome'">
        Welcome
      </div>
      <div class="col-md-6" [ngClass]="{'active':panel==='disclaimer'}" (click)="panel='disclaimer'">
        Disclaimer
      </div>
    </div>

    <div class="content" *ngIf="panel=='welcome'">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/tutorial/epa_logo_white.png" alt="EPA Translucent Logo"
               style="cursor: default; height: 20px; margin-top: 7px;">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          Welcome! The National Ecosystem Services Classification System can aid in the analysis of different types of
          environmental management actions, policies, and regulations.
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 chooseOption">
          Choose an option to Continue
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="custom-content btndiv">
          <div class="tourBtn" (click)="showFifthStep()">
            <p>Tour</p>
            <img class="btn-icon" src="assets/images/tutorial/tourIcon.png">
            <p>Show me how<br/>to use NESCS Plus</p>
          </div>
          <div class="tourBtn" (click)="openLearnPage()">
            <p>Learn</p>
            <img class="btn-icon" src="assets/images/tutorial/learnIcon.png">
            <p>Final ecosystem<br/>goods and services</p>
          </div>
          <div class="tourBtn" (click)="modalRef.hide()">
            <p>Explore</p>
            <img class="btn-icon" src="assets/images/tutorial/exploreIcon.png">
            <p>Discover<br/>on my own</p>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-xs-12 yellow">
          By using the NESCS Plus, you acknowledge the limitations outlined in our <span (click)="panel='disclaimer'"
                                                                                         class="link">disclaimer</span>
          <link to disclaimer tab>
          .
        </div>
      </div>
    </div>

    <div class="content padding" *ngIf="panel=='disclaimer'">
      <ul>
        <li>The National Ecosystem Services Classification System (NESCS) Plus is a system for classifying Final
          Ecosystem Services (FES). FES are specifically defined as the services from nature that are "directly
          [emphasis added] enjoyed, consumed, or used to yield human well-being" (Boyd and Banzhaf, 2007).
        </li>
        <li>NESCS Plus offers two options for searching.</li>
      </ul>
      <ol>
        <li>"Browse Core Options" refines the >75,000 possible combinations to a shorter "core" set of ~1000 most
          plausible combinations. If you discover a row that is missing that should be included in the core "core" set,
          please let us know by clicking "Contact Us."
        </li>
        <li>
          In contrast, "Query All Options" enables users to consider every possibility and build a custom table a single
          row at a time.
        </li>
      </ol>
    </div>
  </div>

  <div *ngIf="fifthStepToggle" (click)="showSixthStep()">
    <h2>Welcome to NESCS Plus!</h2>
    <p>This brief tour will walk you through some of the key functions and options for classifying final ecosystem
      services (FES).</p>
    <div class="btn btn-light btn-sm" (click)="showSixthStep()">Next &gt;</div>
  </div>

  <div *ngIf="sixthStepToggle">
    <div>
      <div>
        <img src="assets/images/tutorial/tourFigure1.png">
      </div>
      <div>
        <h2>Learn More</h2>
        Visit these links to learn more about NESCS Plus, example applications and frequently asked questions.<br><br>
        <span class="btn btn-light btn-sm" (click)="showFifthStep()">&lt; Previous</span> &nbsp;&nbsp;&nbsp;
        <span class="btn btn-light btn-sm" (click)="showSeventhStep()">Next &gt;</span>
      </div>
    </div>
  </div>

  <div *ngIf="seventhStepToggle">
    <div>
      <div>
        <img src="assets/images/tutorial/tourFigure2.png">
      </div>
      <div>
        <h2>Flexible Search Options</h2>
        The NESCS Plus Webtool offers two ways for users to identify and develop lists of Final Ecosystem.<br><br>
        <span class="btn btn-light btn-sm" (click)="showSixthStep()">&lt; Previous</span> &nbsp;&nbsp;&nbsp;
        <span class="btn btn-light btn-sm" (click)="showEighthStep()">Next &gt;</span>
      </div>
    </div>
  </div>

  <div *ngIf="eighthStepToggle">
    <div>
      <div>
        <img src="assets/images/tutorial/tourFigure3.png">
      </div>
      <div>
        <h2>Browse Core Options</h2>
        The ~1,000 Core Options have been pre-selected by the NESCS Plus developers to represent the FES options that
        are likely to be most common or plausible (based on subjective judgement).<br><br>
        <span class="btn btn-light btn-sm" (click)="showSeventhStep()">&lt; Previous</span> &nbsp;&nbsp;&nbsp;
        <span class="btn btn-light btn-sm" (click)="showNinthStep()">Next &gt;</span>
      </div>
    </div>
  </div>

  <div *ngIf="ninthStepToggle">
    <div>
      <div>
        <img src="assets/images/tutorial/tourFigure4.png">
      </div>
      <div>
        <h2>Human Systems</h2>
        The NESCS Plus WebTool offers 2 ways to classify "How?" and/or "Who?" is receiving Final Ecosystem Services.
        Regardless of the search selected, you will receive results for both Direct Use/User and Beneficiary
        classes.<br><br>
        <span class="btn btn-light btn-sm" (click)="showEighthStep()">&lt; Previous</span> &nbsp;&nbsp;&nbsp;
        <span class="btn btn-light btn-sm" (click)="showTenthStep()">Next &gt;</span>
      </div>
    </div>
  </div>

  <div *ngIf="tenthStepToggle">
    <div>
      <div>
        <img src="assets/images/tutorial/tourFigure5.png">
      </div>
      <div>
        <h2>Make your selection</h2>
        For each NESCS Plus component you can:<br>
        <i class="i-ui-icon link"></i> Use the i-button to read a description<br>
        <img src="assets/images/tutorial/tourCheckbox.png" alt="check"> Use the checkbox to make a selection<br><br>
        <span class="btn btn-light btn-sm" (click)="showNinthStep()">&lt; Previous</span> &nbsp;&nbsp;&nbsp;
        <span class="btn btn-light btn-sm" (click)="showEleventhStep()">Next &gt;</span>
      </div>
    </div>
  </div>

  <div *ngIf="eleventhStepToggle">
    <div>
      <div>
        <h2>View your results</h2>
        After finalizing your selections, click on "Query Data" button to view the results of your query. Any time you
        change your selection you will need to click this button for new results.<br><br>
        <span class="btn btn-light btn-sm" (click)="showTenthStep()">&lt; Previous</span> &nbsp;&nbsp;&nbsp;
        <span class="btn btn-light btn-sm" (click)="showTwelfthStep()">Next &gt;</span>
      </div>
      <div>
        <img src="assets/images/tutorial/tourFigure6.png">
      </div>
    </div>
  </div>

  <div *ngIf="twelfthStepToggle">
    <div>
      <div>
        <img src="assets/images/tutorial/exportHighlight.png">
      </div>
      <div>
        <h2>View your results</h2>
        After finalizing your selections, click on "Query Data" button to view the results of your query. Any time you
        change your selection you will need to click this button for new results.<br><br>
        <span class="btn btn-light btn-sm" (click)="showEleventhStep()">&lt; Previous</span> &nbsp;&nbsp;&nbsp;
        <span class="btn btn-light btn-sm" (click)="nextModalStep()">Next &gt;</span>
      </div>
    </div>
  </div>

</div>
