<div class="inputBorder">
  <div class="row form-group">
    <div class="col-md-11">
      Pick one element from each of the four lists below to specify a 4-component FES.
      Click on the "Add" button to add your selection to the table below. Repeat this
      process to add each additional 4-component FES of interest to the table. Use the
      "Edit Selected Row" and "Delete Selected Row" buttons to modify your table. If
      you
      would like to download your table to a spreadsheet file, click on the "Export
      CSV"
      button.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 right">
      <div class="required-field-legend">All fields required</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <label for="environmental">Environmental</label>
      <span validation="environmental" class="help-block"></span>
    </div>
    <div class="col-md-12">
      <ng-select [items]="environmentalList" placeholder="Select" id="environmental"
                 bindLabel="text" labelForId="environmental"
                 bindValue="id"
                 (change)="enableButton()"
                 [(ngModel)]="selectedEnvironmental">
      </ng-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <label for="ecological">Ecological</label>
      <span validation="ecological" class="help-block"></span>
    </div>
    <div class="col-md-12">
      <ng-select [items]="ecologicalList" placeholder="Select" id="ecological"
                 bindLabel="text" labelForId="ecological"
                 bindValue="id"
                 (change)="enableButton()"
                 [(ngModel)]="selectedEcological">
      </ng-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <label for="directUse">Direct Use</label>
      <span validation="directUse" class="help-block"></span>
    </div>
    <div class="col-md-12">
      <ng-select [items]="directUseList" placeholder="Select" id="directUse"
                 bindLabel="text" labelForId="directUse"
                 bindValue="id"
                 (change)="enableButton()"
                 [(ngModel)]="selectedDirectUse">
      </ng-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <label for="directUser">Direct User</label>
      <span validation="directUser" class="help-block"></span>
    </div>
    <div class="col-md-12">
      <ng-select [items]="directUserList" placeholder="Select" id="directUser"
                 bindLabel="text" labelForId="directUser"
                 bindValue="id"
                 (change)="enableButton()"
                 [(ngModel)]="selectedDirectUser">
      </ng-select>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div *ngIf="buttonAction.indexOf('edit')!==-1">
        <button class="btn btn-primary float-right" [disabled]="buttonAction=='editDisable'" (click)="editAction()">Edit</button>
      </div>
      <div *ngIf="buttonAction.indexOf('add')!==-1">
        <button class="btn btn-primary float-right" [disabled]="buttonAction=='addDisable'" (click)="openNameModal()">Add</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showDataTable">
  <app-single-query-table (editItem)="initializeEdit($event)" (setAction)="setAction($event)"></app-single-query-table>
  <table id="report" class="display thin-table stripe" width="100%"></table>
</div>

