.inputBorder {
  padding: 20px;
  border: 1px solid darkslategray;
  border-radius: 9px;
}

label {
  font-weight: bold;
}

.btn-primary {
  background: #0071bc;
}

.singleOptionHeader {
  border-radius: 4px;
  padding-left: 10px;
  margin:  10px 15px 0 15px;
  padding-top: 5px;
  width: 100%;
}





