p {
  font-size: 14px;
}

.filterContainer {
  height: 400px;
  overflow: auto;
}


.panel-container {
  // border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, .125);
  color: black;
  font-weight: bold;
  background: rgba(0, 0, 0, .03);
  background-image: url(https://www.epa.gov/sites/all/themes/epa/img/svg/plus.svg);
  background-position: right 1.7647em center;
  background-repeat: no-repeat;
  background-size: 0.7647em;

  span {
    font-weight: normal;
  }

  .inner-class {
    font-size: .85em;
    display: none;
    font-weight: normal;
  }

  &.active {
    background-image: url(https://www.epa.gov/sites/all/themes/epa/img/svg/minus.svg);

    .inner-class {
      display: block;
    }

    &:before {
      content: "\2212";
      margin-top: -45px;
    }
  }

  &:hover {
    background-color: #d6d7d9;
  }

  &:before {
    content: '\002B';
    font-weight: bold;
    margin-right: 5px;
  }
}

a {
  &.exit-disclaimer {
    //font-size:initial;
    &:hover {
      text-decoration: none;
    }
  }
}

.bestSearchInfo {
  font-size: 14px;
  margin: -18px 0 0 10px;
  color: #0071bc;
  text-decoration: underline;
  background-color: white;
  padding: 0px;
}

.adjoining-container {
  padding: 12px 0;
  display: none;
  height: 400px;
  overflow: auto;
}

.panel-container.active + .adjoining-container {
  display: block;
}

.form-radios {
  margin-bottom: 8px;
}

.btn-primary {
  background: #0071bc;
}

